<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="MySqlDbConnection"
         connectionString="server=160.10.23.6;database=dburkha1;uid=dburkha1;pwd=/?zo+7G:XD;ConvertZeroDateTime=true;AllowZeroDatetime=true;" />
    <add name="CS3230ExploringTheRepositoryPattern.Properties.Settings.dburkha1ConnectionString"
         connectionString="server=160.10.23.6;user id=dburkha1;persistsecurityinfo=True;database=dburkha1"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>